* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
}

/* Navegação */
nav img {
  width: 40px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  background-color: lightcoral;
}
.nav-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
  font-size: 1.5em;
}
.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: antiquewhite;
}
.hamburger {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

/* Corpo e Sessões */
main {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  min-width: 90%;
  min-height: 90%;
  background-color: darksalmon;
  gap: 5em;
  padding: 2em 0;
}

.sessao {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90%;

  max-width: 80%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: blanchedalmond;
  padding: 0.9em;
}
.home {
  margin-top: 1.5em;
}
.contato {
  margin-bottom: 1.5em;
}
.sessao p,
h2 {
  margin-top: 1em;
}
.hamburger {
  display: none;
}
/* Rodapé */
footer {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: lightcoral;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: left 0.3s ease;
  }

  .nav-links.active {
    left: 0;
  }
  .hamburger {
    display: block;
  }

  main {
    min-width: 95%;
    gap: 2em;
  }
  .sessao {
    max-width: 90%;
  }
}
